PGHOST=ep-young-morning-a1h7fia0-pooler.ap-southeast-1.aws.neon.tech
PGPORT=5432
PGDATABASE=webgis_db
PGUSER=neondb_owner
PGPASSWORD=npg_fA3xjDMc7Rba

# allowed web origins (Netlify + local dev)
ALLOWED_ORIGINS=http://localhost:5500,https://dulcet-lolly-53b12c.netlify.app

# API server port
PORT=3000

# whitelist tables or views to expose
WHITELIST=public.blocks
